<div class="row">
    <div class="col-md-8">
        <ul>
            <!-- SET THESE STYLES IN STYLE.CSS!!! -->
            <li style="display: inline-block"><a href="#/ask-question">Ask question</a></li>
            <li style="display: inline-block"><a href="#/question/0">Rules</a></li>
            <li style="display: inline-block"><a href="#/ranking">Ranking</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <form method="post" id="search-form">
            <input type="text" name="search" id="search" placeholder="Search..." />
            <input type="submit" value="Seach" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <section id="categories-tab">
            <h2>Categories</h2>
            <ul>
                <li><a href="#category/0">C#</a></li>
                <li><a href="#category/1">JS</a></li>
                <li><a href="#category/2">Java</a></li>
                <li><a href="#category/3">PHP</a></li>
            </ul>
        </section>
        <section id="tags-tab">
            <h2>Tags</h2>
            <a href="#tag/0">homework</a>
            <a href="#tag/1">softuni</a>
            <a href="#tag/2">teamwork</a>
            <a href="#tag/3">project</a>
            <a href="#tag/4">php</a>
            <a href="#tag/5">help</a>
            <a href="#tag/6">js</a>
            <a href="#tag/7">exam</a>
        </section>
    </div>

    <div class="col-md-9">
        {{#questions}}
        <article class="post">
            <h2><a href="#/view-post/{{objectId}}" class="post-link">{{title}}</a></h2>
            <p>
                <span>Author: <a href="#/user/{{authorId}}">{{authorName}}</a></span>,
                <span>Date: {{createdAt}}</span>,
                <span>Category: <a href="#/category/{{category}}">{{categoryName}}</a></span>
            </p>
            <p>
                <span>Views: ?</span>,
                <span>Answers: ?</span>,
                <span>Last answer: ?</span>
            </p>
        </article>
        {{/questions}}
    </div>
</div>