<h2><a href="#/view-post/{{objectId}}" class="post-link">{{title}}</a></h2>
<p>
    <span>Author: <a href="#/user/{{authorId}}">{{authorName}}</a></span>,
    <span>Date: {{createdAt}}</span>,
    <span>Category: <a href="#/category/{{categoryId}}">{{categoryName}}</a></span>
</p>
<p>
    <span>Views: ?</span>,
    <span>Answers: ?</span>,
    <span>Last answer: ?</span>
</p>

<hr />

<p>
    {{text}}
</p>
<p id="isNotLogged" style="display: none; color: FF0000;">You need to login first!</p>
<div id="postedCommentBody"></div>
<div id="commentAll" style="display: none;">
    <label>Your comment:</label><br />
    <textarea rows="3" cols="60" id="commentBody"></textarea>
</div>
<button id = "comment">Comment</button>