<div id="register-form-dialog" title="Register form">
    <form method="POST" id="register-form">
        <ul>
            <li>
                <label for="register-username">Username:</label>
                <input type="text" name="register-username" id="register-username" placeholder="Username..." />
            </li>
            <li>

                <label for="register-password">Password:</label>
                <input type="password" name="register-password" id="register-password" placeholder="Password..." />
            </li>
            <li>
                <label for="register-confirm-password">Confirm Password</label><br/>
                <input type="password" name="register-confirm-password" id="register-confirm-password" placeholder="Enter password again">
            </li>
            <li>
                <label for="register-email">Email:</label><br/>
                <input type="text" name="register-email" id="register-email" placeholder="Email..." />
            </li>
            <li>
                <input type="submit" value="Register" />
            </li>
        </ul>
    </form>
</div>